@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Limelight&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* colors */
    --bg-color: #FFFBF2;
    --transparent: transparent;
    --orange: #986B54;
    --orange-dark: #553a2c;
    --white: #FFF;
    --black: #000;

    /* font family */
    --lobster-two: 'lobster two';
    --montserrat: 'montserrat';
    --limelight: 'limelight';
    --jura: 'jura';
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: var(--montserrat);
}

/* body p::selection, h1::selection {
    color: rgb(187, 255, 0) !important;
    background-color: black;
} */

/* Special classes */
.margin-0 {
    margin: 0 !important;
}

.align-center {
    display: flex;
    align-items: center;
}

.align-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.coffee-beans {
    width: 3rem;
    margin-bottom: 0.5rem;
}

.heading {
    color: var(--orange);
    font-family: var(--limelight);
    margin: 0.625rem 0 1.125rem 0;
    font-size: 4rem;
}

.sub-heading {
    text-decoration: underline;
    font-family: var(--lobster-two) !important;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 2rem !important;
}

.content {
    font-family: var(--jura);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: justify;
}

.after-image {
    background: url('../img/overlay-bottom.png');
    position: absolute;
    bottom: -1px;
    z-index: 1;
    width: 100%;
    height: 0.8rem;
}

.before-image {
    background: url('../img/overlay-top.png');
    position: absolute;
    top: -1px;
    z-index: 10;
    width: 100%;
    height: 0.9rem;
    background-color: transparent;
}

.section-row {
    margin: 3rem 0;
}

.section-column {
    padding: 0;
    margin: 20px 0;
}

.overflow-hide {
    overflow: hidden !important;
}

/* Special classes End*/

.nav-item .active {
    color: var(--orange) !important;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--transparent);
    padding: 0 3.125rem;
}

.header .main-logo:link,
.header .main-logo:visited {
    color: var(--bg-color);
    text-decoration: none;
}

.header .main-logo h1 {
    font-size: 5rem;
}

.navbar .nav-link {
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--montserrat), serif;
    margin: 0 0.625rem;
    color: var(--bg-color);
}

.slidearea .carousel-item .carousel-detail {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.carousel-detail .carousel-detail-box {
    position: relative;
}

.carousel-detail .carousel-detail-box h4 {
    color: var(--white);
    font-size: 1.875rem;
}

.carousel-detail .carousel-detail-box h1 {
    font-family: var(--lobster-two);
    color: var(--orange);
    font-size: 3.75rem;
}

.about-section,
.service-section,
.menu-pricing-section {
    padding: 5rem 0 3rem 0;
}

.vr-line {
    width: 0.13rem;
    height: 5rem;
    background-color: var(--orange);
    display: inline-block;
}

.vision-list {
    list-style: url('../img/check.png');
    font-family: var(--montserrat);
    font-size: 0.9rem;
    margin: 0;
    padding-left: 1.25rem;
}

.vision-list li {
    padding: 0 0 5px 10px;
}

.btn-outline {
    padding: 10px 20px;
    border: 2px solid var(--orange);
    transition: all 0.3s;
}

.first-button {
    color: var(--white);
    background-color: var(--orange);
}

.first-button:hover {
    color: var(--orange);
    background-color: transparent;
}

.second-button {
    color: var(--orange);
    background-color: transparent;
    margin-top: 10px;
}

.second-button:hover {
    color: var(--white);
    background-color: var(--orange);
}


/*service section */

.section-icons {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: var(--orange);
}

.section-inner-columns {
    padding: 0;
}

.section-inner-columns img {
    width: 13rem;
    /* border-radius: 20px; */
    transition: all 0.2s;
}

.section-details {
    padding: 10px 20px;
}

.section-details h5 {
    font-family: var(--montserrat);
}

.section-details p {
    font-family: var(--jura);
    font-weight: bold;
    text-align: justify;
}

.service-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.service-image {
    position: relative;
    overflow: hidden;
}

.position-top {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(to bottom left, var(--bg-color) 50%, transparent 50%);
    top: 0px;
    right: 0px;
    transition: all 0.2s linear;
}

.position-bottom {
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(to bottom right, transparent 50%, var(--bg-color) 50%);
    bottom: 0px;
    right: 0px;
    transition: all 0.2s linear;
}

.service-image:hover .position-top {
    top: -100px;
}


.service-image:hover .position-bottom {
    right: -100px;
}


/* background section */
.bg-img {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
    position: relative;
    background-size: cover;
    padding: 6rem 0;
    color: var(--white);
}

.background-details {
    text-align: center;
    flex-direction: column;
}

.background-details .input-group {
    /* width: 100%; */
    max-width: fit-content;
    height: 4rem;
    margin-top: 20px;
}

.background-details .input-group input {
    border-radius: 0;
    padding-left: 2rem;
    outline: none !important;
    border: none;
}

.btn-outline-secondary {
    border-radius: 0;
    color: var(--white);
    background-color: var(--orange);
    border: solid 2px var(--orange);
    border: none;
}

.btn-outline-secondary:hover {
    background-color: var(--orange-dark);
}

/* Menu & Pricing  */

.menu-images {
    max-width: fit-content;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.menu-images img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.menu-images span {
    width: 40px;
    height: 40px;
    top: 25px;
    right: -20px !important;
    z-index: 10;
    background-color: var(--orange);
    font-size: 12px;
    color: var(--white);
    transition: all 0.2s linear;
}

.menu-images:hover span {
    width: 8.3rem;
    height: 8.3rem;
    right: -75px !important;
    top: 65px;
    padding: 20px 0 70px 0;
}

.fav-view-hover {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    top: 120px;
    transition: all 0.5s 0.3s;
    z-index: 15;
}

.menu-images:hover .fav-view-hover {
    top: 45px;
}

.fa-heart {
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
}

/* .heart-check-box:checked~.fa-heart {
    color: red !important;
} */

.menu-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


/* book table */

.book-table {
    padding: 5rem 0rem;
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
    position: relative;
    color: var(--white);
}

.table-details {
    padding: 0 2rem;
}

.table-details p {
    text-align: justify;
}

.book-table input,
select {
    width: 100% !important;
    outline: none;
    background-color: var(--transparent);
    border: solid 2px var(--orange);
    color: var(--white);
    padding: 10px 20px;
}

.book-table select option {
    background-color: var(--black);
}

.book-table #submit {
    width: 100%;
    padding: 15px 20px;
    border: solid 2px var(--orange);
    color: var(--white);
    background-color: var(--orange);
    transition: all 0.3s;
}

.book-table #submit:hover {
    background-color: var(--orange-dark);
}

/* Footer */
.footer {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
    margin: 5rem 0 00 0;
    position: relative;
}

.footer-one {
    padding: 100px 30px 50px 30px;
    color: var(--white);
}

.footer-one .footer-one-box {
    padding: 0 30px;
}

.footer-one .footer-one-box h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-one .footer-one-box p {
    margin: 10px 0;
    font-family: var(--jura);
}

.footer-one .footer-one-box a:link,
.footer-one .footer-one-box a:visited {
    color: var(--white);
    text-decoration: none;
}

.icons-box p {
    text-align: justify;
    margin-bottom: 10px;
}

.icons-box a:link,
.icons-box a:visited {
    border: solid 2px var(--white);
    padding: 10px 15px;
    transition: all 0.3s;
    margin-right: 5px;
}

.icons-box a:hover {
    background-color: var(--bg-color);
}

.icons-box a:hover i {
    color: var(--black);
}

.timing-section {
    margin: 10px 0;
}

/* Footer two */
.footer-two hr {
    height: 2px;
    background-color: var(--bg-color);
}

.footer-three {
    color: var(--white);
}

.footer-three a {
    text-decoration: none;
    color: var(--orange);
}

@media screen and (max-width:992px) {

    /* Special classes starts */
    .heading {
        font-size: 3.2rem;
    }

    .sub-heading {
        font-size: 2.2rem;
    }

    .about-section,
    .service-section {
        padding: 50px 0 20px 0;
    }

    /* Special classes ends */

    .button-nav {
        width: 100%;
        text-align: right;
    }

    .button-nav button:focus {
        border: none;
    }

    .header {
        position: relative;
        background-color: #33211D;
        padding: 10px;
        justify-content: space-between;
    }

    .header .main-logo h1 {
        font-size: 40px;
    }

    .navbar-nav {
        position: relative;
        text-align: right;
    }

    .logo-column {
        align-items: flex-start;
    }

    /* slidearea */
    .carousel-detail-box {
        width: 70%;
    }

    .carousel-detail-box h1 {
        font-size: 30px !important;
    }

    .carousel-detail-box h4 {
        font-size: 20px !important;
    }

    /* About section */
    .about-column {
        margin: 20px 0;
    }

    /* background area */
    .background-details {
        padding: 0 30px;
    }

    .background-details h4 {
        font-size: 1rem;
        margin-bottom: 10px !important;
    }

    .input-group input {
        height: 50px;
        padding: 0 0 0 10px !important;
    }

    .btn-outline-secondary {
        height: 50px;
    }

    /* Book table */
    .table-details h1 {
        font-size: 3.5rem !important;
    }

    .table-booking-form {
        padding: 3rem !important;
    }
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .menu-images span {
        right: -40px !important;

    }

    .menu-images:hover span {
        top: 65px !important;
        right: -85px !important;
    }
}

@media screen and (max-width:992px) and (min-width:576px) {
    .about-column img {
        width: 400px !important;
    }

    .menu-images span {
        top: 30px !important;
    }

    .menu-images:hover span {
        top: 65px !important;
        right: -70px !important;
    }

}

@media screen and (max-width:576px) {
    .menu-images:hover span {
        top: 65px !important;
        right: -70px !important;
    }
}

@media screen and (max-width:992px) and (min-width:768px) {
    .menu-section-column {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}